---
const today = new Date();
---

<footer
  class="pb-0.5 pt-2  text-center text-sm font-light text-white/60"
>
  <p>
    Powered by
    <a
      href="https://astro.build/"
      rel="noopener noreferrer"
      target="_blank"
      class="hover:text-neutral-200 hover:underline">Astro</a
    >
    - View code on
    <a
      href="https://github.com/TalhaMangarah/Talha-Mangarah-Website"
      rel="noopener noreferrer"
      target="_blank"
      class="hover:text-neutral-200 hover:underline">GitHub</a
    >
  </p>
  <p>
    &copy; {today.getFullYear()} Talha Mangarah
  </p>
</footer>
