---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "") || pathname.startsWith(href + "/");
---

<a
  href={href}
  class:list={[
    className,
    {
      "font-bold bg-gradient-to-r from-orange-500 to-pink-500 bg-[length:100%_2px] bg-no-repeat bg-bottom":
        isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
