---
import { SITE_TITLE } from "../consts";
---

<section
  class="my-auto flex w-full max-w-4xl flex-col place-content-center items-center justify-center gap-10 rounded-2xl bg-tertiary p-6 text-base drop-shadow-2xl md:my-[188px] md:h-1/2"
>
  <h1
    class="text-center text-4xl font-bold text-yellow-500 sm:text-base md:text-5xl"
  >
    WIP
  </h1>
</section>
